:root{
 --Glactic-blue:#755cde;
 --Summer-yellow:#f6a560;
 --Pink:#f39e9e;
 --Light-red:#eb7565;
 --Cyan:#61c4b7;
 --Dark-purple:#552049;
 --Black:#030303;
 --Medium-brown:#7a746e;
 --Light-cream:#fff7f0;

}
*{
 box-sizing: border-box;
}
body{
 font-family: 'Plus Jakarta Sans', sans-serif;
 background-color: var(--Light-cream);
 padding: 0 1em;
 margin: 0;

}
.container{
 max-width:960px;
 margin: 0 auto;
 text-align: center;
}
/* HEADER AND FOOTER */
/* START */
header,footer{
 display: flex;
 justify-content: space-between;
 align-items: center;
 
}
header p,
footer p{
 color: var(--Light-cream);
 background-color: var(--Black);
 padding: .6em 1.9em; /*8px  27px*/
 border-radius: 50px;
 font-size: 0.875rem; /*14px*/
 font-weight: 700;
 line-height: 28px;
}
footer{
 margin-top: 2.5em;
}
footer img,
header img{
 width: 80%;
}
/* END */

/* First Section */
/* START */

.first-section{
 margin-top: 2em;
 margin-bottom: 2em;
}

.first-section h1{
 font-weight: 700;
 font-size: 2.25rem; /*36px*/
 line-height: 45px;
 color: var(--Black);
 margin-bottom: .4em;
}

.first-section p{
 font-weight: 500;
 font-size: 1em;
 line-height: 26px;
 color: var(--Medium-brown);
 width: 79%;
 margin: 0 auto;
}
/* END */

/* Design */

/* START */
.grid{
  list-style: none;
  padding-left: 0;
  display: grid;
 
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'box1 box1'
    'box2 box3'
    'box4 box4'
    'box5 box5'
    'box6 box6' 
  ;
 
 gap: 1em;
}
.grid-1{
  grid-area: box1;
}
.grid-2{
  grid-area: box2;
}
.grid-3{
  grid-area:box3;
}
.grid-4{
  grid-area: box4;
}
.grid-5{
  grid-area: box5;
}
.grid-6{
  grid-area: box6;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6{
 display: flex;
 flex-direction: column;
 border-radius: 8px;
}
.box4,.box5,.box6{

 width: 100%;
 height: 182px;
 gap: 3em;
}
.box1{
 background-color: var(--Glactic-blue);
 width: 100%;
 height: 364px;
 gap: 6em;
}
.grid-img{
 align-self: flex-end;
 padding-right: 1.5em; /*24px*/
 padding-top: 1.5em; /*24px*/
}
a{
 text-decoration: none;
}
span{
 font-size: 1.5rem; /*24px*/
 font-weight: 700;
 color: white;
 align-self: flex-start;
 padding-left: 1em; /*24px*/
}


.box2 ,.box3{
 width: 159px;
 height: 159px;
 gap: 2em; /*32px*/
}
.box2{
 background-color: var(--Summer-yellow);

}
.box3{
 background-color: var(--Pink);
 
}
.box4{
 background-color: var(--Light-red);
 
}

.box5{
 background-color: var(--Cyan);
 
}
.box6{
 background-color: var(--Dark-purple);

}
/* END */

/* INFO */
/* START */
.avatar{
 width: 100%;
}

.info h2 {
 font-weight: 700;
 font-size: 1.625rem; /*26*/
 color: var(--Black);
 margin-top: 1.53em; /*39.78px*/
 margin-bottom: 0.92em; /*23.92px*/
}
.info p{
 font-weight: 500;
 font-size: 1rem; /*16px*/
 line-height: 26px;
 color: var(--Medium-brown);
 margin-top: 0;
 margin-bottom: 2em; /*32px*/
}
/* using this styles in info section and book section */
.parley{
 display: inline-block;
 background-color: var(--Light-red);
  border-radius: 28px;
  font-weight: 700;
  font-size: 0.875rem; /*14px*/
  line-height: 28px;
  color: var(--Light-cream);
  padding: .64em 2em; /*8.96px top ,bottom and 28px left,right */
}

/* END */

/* Swiper js */
/* Start */

.work h1{
 font-weight: 700;
 font-size: 1.5rem; /*24px*/
 color: var(--Black);
 margin-top: 4.1em; /*98.39 px*/
 margin-bottom: 1.3em; /*31.2px*/
}

.swiper-slide img{
 width: 100%;
 border-radius: 8px;
}

.swiper-button-prev::after{
 display: none;
 
 
}



.swiper-button-next::after{
 display: none;
  
}
.swiper-button-next,.swiper-button-prev{
 border-radius: 50px;
 background-color: var(--Black);
 padding: 1.5em; /*24px*/
}
/* END */

.booking{
 background-color: var(--Black);
 border-radius: 10px;
 padding: 1em;
 margin-top: 6.25em;
}
.booking h1{
 color: var(--Light-cream);
 font-weight: 700;
 font-size: 1.625rem;
 margin-bottom: 0;
 margin-top: 1.78em;
}
.booking p{
 font-weight: 500;
 font-size: 1rem;
 line-height: 26px;
 color: var(--Light-cream);
 margin-top: 1.5em;
 margin-bottom:1.5em;
}
.booking .parley{

 margin-top:.96em;
 margin-bottom: 1.23em;
 
}


/* tablets */

@media(min-width:708px){
  .first-section h1{
    font-size: 2.75rem;
  }
  .first-section p{
    font-size: 1.125rem;
    width: 88%;
  }
 .grid{
  grid-template-rows:  auto auto ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
   'box1 box1 box2 box3 '
   'box1 box1 box4 box4 '
   'box5 box5 box6 box6 '
  ;
 }
 .grid-1{
  grid-area: box1;
  
 }
 .grid-2{
  grid-area: box2;
 }
 .grid-3{
  grid-area: box3;
 }
 

 .grid-4{
  grid-area:box4;
 }
 .grid-5{
  grid-area: box5;
 }
 .grid-6{
  grid-area: box6;
 }

 .info{
  display: flex;
  gap: 2em;
  text-align: left;
  align-items: center;
 }
 .info .avatar{
  width:55%;
  margin-left: -4.375em;
 }
 .info p {
  line-height: 28px;
  font-size: 1.125rem;
 }
 .info h2{
  font-size:2rem ;
 }
 header img,
 footer img{
  width: 90%;
 }
 .parley,
 header p,
 footer p{
  font-size: 1rem;
  padding: .875em 2.8125em;
 }
 .work h1{
  font-size: 2em;
 }
 .booking h1{
  font-size: 2em;
 }
 .booking p{
  font-size: 1.125rem;
 }
 
}

@media(min-width:882px){
  .grid{
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'box1 box1 box2 box3 box4 box4'
    'box1 box1 box5 box5 box6 box6';
    align-items: center;
  }

  .grid-1{
    grid-area: box1;
  }
  .box1{
    height: 379px;
  }
  .grid-2{
    grid-area: box2;
  }
  .grid-3{
    grid-area: box3;
  }
  .grid-4{
    grid-area: box5;
  }
  .grid-5{
    grid-area: box4;
  }
  .grid-6{
    grid-area: box6;
  }
  .container{
    max-width: 1226px;
  }
  .info{
    margin-top:8.4375em;
  }


  .info .avatar{
    margin-left: 0;
    width: 40%;
  }
  .info h2{
    font-size: 2.5rem;
  }
  .booking {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 3em;
  }
  .booking h1{
    font-size: 2.5rem;
  }
  .booking div{
    width: 50%;
  }
  .booking .parley {
    margin-left: auto;
    margin-top: 3em;
  }
}